*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Verdana, sans-serif;
    color: white;
}

img, svg{
    width: 2.5rem;
    height: auto;
}

body{
    position: relative;
    background-image: url("./imgs/Img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
div{
    display: flex;
    width: 6rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    justify-content: center;
}
div > a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div .link-to-page > p{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}
footer{
    position: absolute;
    width: 100%;
    height: 3rem;
    opacity: 0.75;
    bottom: 0;
    background: linear-gradient(to bottom right, #121213, #232325);
}