:root {
    --white: white;
    --black: black;
    --windows-blue: #00adef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Verdana, sans-serif;
    color: var(--white);
}

img,
svg {
    width: 2.5rem;
    height: auto;
}

body {
    position: relative;
    background-image: url("./imgs/Img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.expand-apps {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.expand-apps div {
    display: flex;
    width: 6rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    justify-content: center;
}

.expand-apps div>a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.expand-apps div .link-to-page>p {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}


/* task bar */

footer {
    display: grid;
    grid-template-columns: minmax(2rem, 4rem) 22rem 4rem auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    position: absolute;
    width: 100%;
    min-height: 2.5rem;
    opacity: 0.9;
    bottom: 0;
    background: linear-gradient(to bottom right, #121213, #232325);
}

footer svg {
    fill: var(--white);
}

footer .windows-hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

footer #windows-icon {
    width: 1.5rem;
}

footer .windows-hover:hover #windows-icon {
    fill: var(--windows-blue);
}

footer label {
    position: absolute;
    visibility: hidden;
}

.search-apps {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 3rem;
}

.search-apps ::placeholder {
    color: var(--black);
    opacity: 1;
}

.search-apps input[type="text"] {
    min-width: 100%;
    font-size: 1rem;
    height: auto;
    color: var(--black);
    padding: 1rem;
    max-width: 21rem;
    padding-left: 3.5rem;
}

.search-apps img {
    width: 1.5rem;
    height: auto;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    bottom: 1rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

footer .taskbar-hover {
    transition: 0.11s all ease-in;
}

footer .taskbar-hover:hover {
    background-color: #414141;
}

footer #cortana {
    width: 1.4rem;
    height: auto;
    justify-self: start;
    margin-left: 0.7rem;
}
/* pinned apps on footer */
footer .pinned-apps{
    justify-self: start;
    width: auto;
    grid-template-rows: minmax(1rem, 3rem);
    height: 100%;
    align-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0rem;
}
footer .pinned-apps img{
    width: 1.7rem;
}
footer .weather-update{
}
footer .taskbar-app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 3.5rem;
}